@if (Session["USER"] != null)
{
    EasyTourney.Models.tblUser  User = (EasyTourney.Models.tblUser)Session["USER"];
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(User.FirstName, "Edit", "User", new { id = User.GUID },null)</li>
      
        <li>@Html.ActionLink("Log Off", "LogOff", "User")</li>
        
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Acount","Create","User")</li>
        <li>@Html.ActionLink("Log In", "LogIn", "User")</li>
    </ul>

}




