@{
    ViewBag.Title = "Home Page";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(../../Content/BaseTemplate/images/sport/horizon.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1 mainName">EasyTourney</h1>
                                <h2 class="animation animated-item-2">Fist Tournament Social network. Create and Subscribe to any kind of tourney! Just Create an a acount and start proving your skills.</h2>
                                <a class="btn-slide animation animated-item-3" href="~/Views/User/Create.cshtml">Create Acount</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/Content/BaseTemplate/images/sport/bastketman.png" class="img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url(../../Content/BaseTemplate/images/sport/horizon.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Create and Manage your tournaments of any sport or hobby and stay still until you get some participants!!</h1>
                                <h2 class="animation animated-item-2">Join Now!</h2>
                                <a class="btn-slide animation animated-item-3" href="~/Views/Event/Create.cshtml">Create Event</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/Content/BaseTemplate/images/sport/Trofeo.png" class="img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url(../../Content/BaseTemplate/images/sport/horizon.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Share your skills!! Join a team!!Show that you are the best!!</h1>
                                <h2 class="animation animated-item-2"> We will allow you  to find other people or teams ready to participate in any tourney</h2>
                                <a class="btn-slide animation animated-item-3" href="~/Views/User/Create.cshtml">Create acount</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/Content/BaseTemplate/images/sport/Team.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    
</section><!--/#main-slider-->



<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Service</h2>
            <p class="lead">Easily create, subscribe and participate to any event </p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/Content/BaseTemplate/images/services/services1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Create Tournaments</h3>
                        <p>Just set the location, the inscription price and acept or denied participants</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/Content/BaseTemplate/images/services/services2.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Subscribe to Events</h3>
                        <p>Look up event depending on your likes</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/Content/BaseTemplate/images/services/services3.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Find Teams</h3>
                        <p>Message other participants and join their teams</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-md-5">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/Content/BaseTemplate/images/services/services4.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Tournament Recommendation</h3>
                        <p>We will keep you update with the latest events that you might like</p>
                    </div>
                </div>
            </div>

           
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->